.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.full-width {
  width: 100%;
}

.card-content {
  margin: 10px;
}

.horizontalCenter {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}
