<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-toolbar class="fixed-footer mat-elevation-z6">
  <a href="https://vaimee.com/" target="_blank">
    <img src="./assets/desmo-ld-logo.png" alt="Desmo-LD logo" height="50px" />
  </a>

  <div class="toolbar-spacer"></div>

  <h4 class="mat-h4">
    &copy; Copyright
    <a href="https://vaimee.com" target="_blank" style="font-weight: bold">
      VAIMEE
    </a>
  </h4>

  <div class="toolbar-spacer"></div>

  <a href="https://ontochain.ngi.eu/" target="_blank">
    <img
      src="./assets/logo-ngi-ontochain.png"
      alt="NGI-Ontochain logo"
      height="60px"
  /></a>
</mat-toolbar>
