
<mat-card class="example-card">
  <mat-card-header>
      <mat-card-title>TDD Manager</mat-card-title>
      <mat-card-subtitle> 
          Manage your TDDs 
      </mat-card-subtitle>
  </mat-card-header>
</mat-card>
<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile> 
      <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Insert TDD's URL</mat-label>
      <input matInput type="url" [(ngModel)]="value">
      <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button class="Register-button" mat-raised-button color="primary" (click)="openSnackBar('TDD has been registered', 'successful')">Register TDD</button>
  </mat-grid-tile>    

  </mat-grid-list>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef> URL </th>
      <td mat-cell *matCellDef="let element"> {{element.url}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let element"> {{element.state}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>
  </table>
  <button class="Register-button" mat-raised-button color="primary" (click)="openSnackBar('TDD has been unregistered', 'successful')">Unregister TDD</button>
  <button class="Register-button" mat-raised-button color="primary" (click)="openSnackBar('TDD has been activated', 'successful')">Activate</button>
  <button class="Register-button" mat-raised-button color="primary" (click)="openSnackBar('TDD has been deactivated', 'successful')">Deactivate</button>
  
  
</div>

