<div class="grid-container">
  <h1 class="mat-h1">Query execution</h1>
  <mat-card>
    <mat-card-content>
      <mat-card-title>Build your query</mat-card-title>
      <span style="color: blue"
        >Hint: remember that you can use prefixes to shorten the IRIs!</span
      >

      <mat-vertical-stepper
        linear
        animationDuration="1500"
        (selectionChange)="handlePrefixes($event)"
        #stepper
      >
        <!-- STEP 1: property -->
        <mat-step [stepControl]="propertyFormGroup" [optional]="false">
          <form [formGroup]="propertyFormGroup">
            <ng-template matStepLabel>Property</ng-template>
            <div>
              <mat-form-field>
                <mat-label>Insert property name:</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="propertyIRI"
                  placeholder="Property name here..."
                  #propertyIRIinput
                />
                <button
                  mat-icon-button
                  matSuffix
                  color="accent"
                  aria-label="Clear field"
                  *ngIf="propertyIRIinput.value !== ''"
                  (click)="clearPropertyControl('propertyIRI')"
                >
                  <mat-icon>clear</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div style="margin-top: 16px">
              <mat-form-field>
                <mat-label>Insert unit IRI:</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="unitIRI"
                  placeholder="Unit IRI here..."
                  #unitIRIinput
                />
                <button
                  mat-icon-button
                  matSuffix
                  color="accent"
                  aria-label="Clear field"
                  *ngIf="unitIRIinput.value !== ''"
                  (click)="clearPropertyControl('unitIRI')"
                >
                  <mat-icon>clear</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div style="margin-top: 16px" [formGroup]="propertyFormGroup">
              <mat-label class="margin-right">Result datatype:</mat-label>

              <mat-radio-group
                formControlName="datatype"
                name="datatype"
                aria-label="Data type"
                multiple="false"
                required
              >
                <mat-radio-button class="margin-right" [value]="0"
                  >Integer</mat-radio-button
                >
                <mat-radio-button class="margin-right" [value]="1"
                  >Decimal</mat-radio-button
                >
                <mat-radio-button class="margin-right" [value]="2"
                  >Boolean</mat-radio-button
                >
                <mat-radio-button [value]="3">String</mat-radio-button>
              </mat-radio-group>
            </div>

            <div style="margin-top: 16px">
              <button mat-button mat-stroked-button matStepperNext>
                Next step
              </button>
            </div>
          </form>
        </mat-step>

        <!-- STEP 2: query filters (static, dynamic) -->
        <mat-step [stepControl]="filtersFormGroup" [optional]="true">
          <form [formGroup]="filtersFormGroup">
            <ng-template matStepLabel>Query filters</ng-template>
            <div>
              <mat-form-field>
                <mat-label>Insert JsonPath filter expression:</mat-label>
                <input
                  matInput
                  placeholder="JsonPath filter here..."
                  formControlName="jsonPathExpression"
                  #jsonPathinput
                />
                <button
                  mat-icon-button
                  matSuffix
                  color="accent"
                  aria-label="Clear field"
                  *ngIf="jsonPathinput.value !== ''"
                  (click)="clearFilterControl('jsonPathExpression')"
                >
                  <mat-icon>clear</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div style="margin-top: 16px">
              <mat-form-field>
                <mat-label>Insert dynamic filter expression:</mat-label>
                <input
                  matInput
                  placeholder="Dynamic filter here..."
                  formControlName="dynamicFilterExpression"
                  #dynamicFilterinput
                />
                <button
                  mat-icon-button
                  matSuffix
                  color="accent"
                  aria-label="Clear field"
                  *ngIf="dynamicFilterinput.value !== ''"
                  (click)="clearPropertyControl('dynamicFilterExpression')"
                >
                  <mat-icon>clear</mat-icon>
                </button>
              </mat-form-field>
            </div>

            <div style="margin-top: 16px">
              <button mat-button mat-stroked-button matStepperPrevious>
                Prev. step
              </button>
              <button mat-button mat-stroked-button matStepperNext>
                Next step
              </button>
            </div>
          </form>
        </mat-step>

        <!-- STEP 3: GEO filter -->
        <mat-step [stepControl]="filtersFormGroup" [optional]="false">
          <form [formGroup]="filtersFormGroup">
            <ng-template matStepLabel>GEO filter</ng-template>
            <fieldset>
              <legend>Altitude range:</legend>
              <section formGroupName="geoAltitudeLimits">
                <mat-label class="margin-right"
                  >Limits (in meters above sea level):</mat-label
                >
                <mat-checkbox
                  class="margin-right"
                  #hasMin
                  formControlName="hasMin"
                  >Lower bound</mat-checkbox
                >
                <mat-checkbox value="polygon" #hasMax formControlName="hasMax"
                  >Upper bound</mat-checkbox
                >
              </section>
              <section formGroupName="geoAltitudeRange">
                <mat-form-field *ngIf="hasMin.checked" class="margin-right">
                  <input
                    matInput
                    type="number"
                    placeholder="Lower bound"
                    [value]="0"
                    formControlName="min"
                  />
                </mat-form-field>
                <mat-form-field *ngIf="hasMax.checked">
                  <input
                    matInput
                    type="number"
                    placeholder="Upper bound"
                    [value]="0"
                    formControlName="max"
                  />
                </mat-form-field>
                <div
                  *ngIf="filtersFormGroup.errors?.['maxGreaterThanMin'] && (filtersFormGroup.touched || filtersFormGroup.dirty)"
                  style="color: red"
                >
                  The lower bound must be strictly less than the upper bound.
                </div>
              </section>
            </fieldset>

            <fieldset>
              <legend>Region:</legend>
              <section>
                <mat-label class="margin-right"
                  >Type of region filter:</mat-label
                >
                <mat-radio-group
                  formControlName="geoType"
                  name="type"
                  aria-label="Type of geographical filter"
                  multiple="false"
                  required
                  (change)="handleGeoTypeChanged($event)"
                >
                  <mat-radio-button class="margin-right" value="none"
                    >None</mat-radio-button
                  >
                  <mat-radio-button class="margin-right" value="polygon"
                    >Polygon</mat-radio-button
                  >
                  <mat-radio-button value="circle">Circle</mat-radio-button>
                </mat-radio-group>
              </section>
              <mgl-map
                [style]="'mapbox://styles/mapbox/satellite-streets-v11'"
                [zoom]="[10]"
                [center]="[11.346476554870605, 44.49420166015625]"
                (mapLoad)="onFilterMapLoad($event)"
                *ngIf="!isSelectedGeoTypeNone()"
              >
              </mgl-map>
            </fieldset>

            <div style="margin-top: 16px">
              <button mat-button mat-stroked-button matStepperPrevious>
                Prev. step
              </button>
              <button mat-button mat-stroked-button matStepperNext>
                Next step
              </button>
            </div>
          </form>
        </mat-step>

        <!-- STEP 4: TIME filter -->
        <mat-step [stepControl]="filtersFormGroup" [optional]="true">
          <form [formGroup]="filtersFormGroup">
            <ng-template matStepLabel>TIME filter</ng-template>
            <span>Work in progress...</span>
            <div style="margin-top: 16px">
              <button mat-button mat-stroked-button matStepperPrevious>
                Prev. step
              </button>
              <button mat-button mat-stroked-button matStepperNext>
                Next step
              </button>
            </div>
          </form>
        </mat-step>

        <!-- STEP 5: prefixes-->
        <mat-step [stepControl]="prefixesFormArray" [optional]="false">
          <ng-template matStepLabel>Prefixes</ng-template>
          <h4 *ngIf="prefixesFormArray.length <= 0">
            You didn't make use of any prefix. Please, skip to the next step!
          </h4>
          <div *ngIf="prefixesFormArray.length > 0">
            <h4>Please, provide the full version of the prefixes you used:</h4>
            <form>
              <div
                *ngFor="
                  let prefixCtrl of prefixesFormArray.controls;
                  let i = index
                "
              >
                <mat-form-field>
                  <span matPrefix>{{ prefixNames[i] }}:&nbsp;&lt;</span>
                  <input
                    matInput
                    placeholder="Extended IRI here..."
                    [formControl]="getPrefixControl(i)"
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    color="accent"
                    aria-label="Clear field"
                    *ngIf="prefixesFormArray.controls[i].value !== ''"
                    (click)="clearPrefixControl(i)"
                  >
                    <mat-icon>clear</mat-icon>
                  </button>
                  <span matSuffix>&gt;</span>
                </mat-form-field>
              </div>
            </form>
          </div>
          <div style="margin-top: 16px">
            <button mat-button mat-stroked-button matStepperPrevious>
              Prev. step
            </button>
            <button mat-button mat-stroked-button matStepperNext>
              Next step
            </button>
          </div>
        </mat-step>

        <!-- STEP 6: Done -->
        <mat-step [optional]="false">
          <ng-template matStepLabel>Done</ng-template>
          <h3>You are now done!</h3>

          <button mat-stroked-button matStepperPrevious>Prev. step</button>
          <button
            mat-stroked-button
            color="accent"
            (click)="resetQueryBuilder(stepper)"
          >
            Reset
          </button>
          <button
            mat-stroked-button
            color="primary"
            type="submit"
            (click)="submitQuery()"
          >
            Execute query
          </button>
        </mat-step>
      </mat-vertical-stepper>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="this.result.arrived || this.result.loading">
    <mat-card-footer>
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="this.result.loading"
      ></mat-progress-bar
    ></mat-card-footer>
    <mat-card-content *ngIf="this.result.arrived">
      <h2>Query Result</h2>
      <div *ngIf="this.result.error">
        <h3>Something went wrong!</h3>
        <p>{{ this.result.error }}</p>
      </div>
      <div *ngIf="!this.result.error">
        <mat-tab-group mat-stretch-tabs>
          <mat-tab label="Data">
            <table
              mat-table
              [dataSource]="resultTable"
              class="mat-elevation-z8"
            >
              <ng-container matColumnDef="property">
                <th mat-header-cell *matHeaderCellDef>Property name</th>
                <td mat-cell *matCellDef="let resultTable">
                  {{ resultTable.property }}
                </td>
              </ng-container>
              <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef>Value</th>
                <td mat-cell *matCellDef="let resultTable">
                  {{ resultTable.value }}
                </td>
              </ng-container>
              <ng-container matColumnDef="unit">
                <th mat-header-cell *matHeaderCellDef>Unit</th>
                <td mat-cell *matCellDef="let resultTable">
                  {{ resultTable.unit }}
                </td>
              </ng-container>
              <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef>Elapsed Time</th>
                <td mat-cell *matCellDef="let resultTable">
                  {{ resultTable.time }} ms
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </mat-tab>
          <mat-tab label="Requested Query">
            <pre>{{ this.result.query | query }}</pre>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card-content>
  </mat-card>
</div>
