<app-query-form (querySubmitted)="executeQuery($event)"></app-query-form>
<div class="grid-container">
  <mat-card *ngIf="this.result.arrived || this.result.loading">
    <mat-card-footer>
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="this.result.loading"
      ></mat-progress-bar
    ></mat-card-footer>

    <mat-stepper linear [selectedIndex]="stepperIndex" #result_stepper>
      <mat-step>
        <ng-template matStepperIcon="edit">
          <mat-icon>done</mat-icon>
        </ng-template>
        <ng-template matStepLabel>Requesting Id</ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepperIcon="edit">
          <mat-icon>done</mat-icon>
        </ng-template>
        <ng-template matStepLabel>Buying query</ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepperIcon="edit">
          <mat-icon>done</mat-icon>
        </ng-template>
        <ng-template matStepLabel>Executing Query</ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepperIcon="edit">
          <mat-icon>done</mat-icon>
        </ng-template>
        <ng-template matStepLabel>Retrieving Result</ng-template>
      </mat-step>
      <ng-template matStepperIcon="edit">
        <mat-icon>done</mat-icon>
      </ng-template>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
      </mat-step>
    </mat-stepper>

    <mat-card-content *ngIf="this.result.arrived">
      <h2>Query Result</h2>
      <div *ngIf="this.result.error">
        <h3>Something went wrong!</h3>
        <p>{{ this.result.error }}</p>
      </div>
      <div *ngIf="!this.result.error">
        <mat-tab-group mat-stretch-tabs>
          <mat-tab label="Data">
            <table
              mat-table
              [dataSource]="resultTable"
              class="mat-elevation-z8"
            >
              <ng-container matColumnDef="property">
                <th mat-header-cell *matHeaderCellDef>Property name</th>
                <td mat-cell *matCellDef="let resultTable">
                  {{ resultTable.property }}
                </td>
              </ng-container>
              <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef>Value</th>
                <td mat-cell *matCellDef="let resultTable">
                  {{ resultTable.value }}
                </td>
              </ng-container>
              <ng-container matColumnDef="unit">
                <th mat-header-cell *matHeaderCellDef>Unit</th>
                <td mat-cell *matCellDef="let resultTable">
                  {{ resultTable.unit }}
                </td>
              </ng-container>
              <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef>Elapsed Time</th>
                <td mat-cell *matCellDef="let resultTable">
                  {{ resultTable.time }} ms
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </mat-tab>
          <mat-tab label="Requested Query">
            <pre>{{ this.result.query | query }}</pre>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card-content>
  </mat-card>
</div>
