.Register-button {
  margin-right: 10px;
  margin-top: 10px;
}

.full-width {
  width: 90%;
}

.mat-card {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.mat-card-header {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.mat-card-content {
  flex-grow: 1;
  overflow: auto;
  padding: 20px;
}

.mat-table {
  width: 100%;
}
